SERVICE_HOST=localhost
SERVICE_PORT=8080
MINIO_PUBLIC_URL=http://localhost:9000/dignitaries

DB_HOST=localhost
DB_PORT=5433
DB_NAME=dignitaries_db
DB_USER=dignitaries_user
DB_PASS=dignitaries_password
