{{ define "tabbar" }}
<nav class="tab-bar">
    <a href="/dignitary_feed" class="tab-bar__item {{ if eq . "feed" }}tab-bar__item--active{{ end }}">
        <span class="tab-bar__icon">▶</span>
        <span>Лента</span>
    </a>
    <a href="/dignitary_draft" class="tab-bar__item {{ if eq . "draft" }}tab-bar__item--active{{ end }}">
        <span class="tab-bar__icon">＋</span>
        <span>Добавление</span>
    </a>
    <a href="/dignitaries" class="tab-bar__item {{ if eq . "tiles" }}tab-bar__item--active{{ end }}">
        <span class="tab-bar__icon">▦</span>
        <span>Плитка</span>
    </a>
</nav>
{{ end }}
